---
layout: base
permalink: /index.html
blog:
  title: 'Blog'
---

<div class="wrapper">
  <header class="full | section spot-color-theme-primary">
    <div class="section__inner flow region wrapper text-theme-light">
      <div class="bas">
        <div class="bas__wrapper">
          <img id="ben-and-shekar-img" src="/assets/images/ben-and-shekar.png" alt="" />
        </div>
        <h1 class="text-center">Hello there!</h1>
        <div class="prose wrapper flow text-center">
          <p>I'm Ben, a developer, traveller, cat-dad, and coffee enthusiast.</p>
          <p>When I'm not writing code, you'll either find me on the football pitch, making music, or a few hundred turns deep in Civilization VI (one more turn!)</p>
          <p>I've blogged intermittently over the years, some posts of which you can find here.</p>
        </div>
      </div>
    </div>
    {% svg "divider/soft-bottom", null, "divider" %}
  </header>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
