---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */ Developer: {{ meta.creator.name }} Contact: {{ meta.creator.email }} Site:
{{ meta.creator.website }}
/* SITE */ Doctype: HTML5
